/*
 * Globals
 */

body {
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 40px;
  padding-bottom: 5px;
  color: #333;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #e5e5e5;
}

/*
 * Masthead for nav
 */
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */
.blog-post-title {
  margin-bottom: 5px;
  font-size: 1.75rem;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-post {
  /**margin-bottom: 20px;**/
  font-size: 1rem;
  background-color: #fff;
  padding:10px;
  border-radius: 2px;
  box-shadow: 1px 1px #888888;
}

.blog-excerpt {
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: #fff;
  padding:10px;
  border-radius: 2px;
  box-shadow: 1px 1px #888888;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

a.blog-post-title {
  text-decoration:none;
  color:#4C4C4C;
}

a.blog-post-title:hover {
  color:#2970A6;
}

/** make all elements, except h1-h6, left/right margin 2rem **/
.blog-post-body {
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-post-body > h1, h2, h3, h4, h5, h6 {
  margin-left:-2rem;
  margin-right:-2rem;
}

.blog-post blockquote {
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;

  border-left: 4px solid #36ab13;
  background-color:#f1f3f3;

  box-shadow: .1em .1em .1em rgba(0, 0, 0, 0.45);
}

.blog-post-body blockquote p {
  margin: 0 0 0 0;
}

/*
* for {code}
*/
.blog-post pre.highlight { 
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;

  border-left: 4px solid #36ab13;
  background-color:#f1f3f3;
  
  /**border-radius: .25em;**/
  box-shadow: .1em .1em .1em rgba(0, 0, 0, 0.45);
}
